<plist version="1.0">
    <dict>
        <key>items</key>
        <array>
            <dict>
                <key>assets</key>
                <array>
                    <dict>
                        <key>kind</key>
                        <string>software-package</string>
                        <key>url</key>
                        <string>http://www.miaoenze.com:3000/Hall.ipa</string>
                    </dict>
                </array>
                <key>metadata</key>
                <dict>
                    <key>bundle-identifier</key>
                    <string>com.game.yikd</string>
                    <key>bundle-version</key>
                    <string>1.1.1</string>
                    <key>kind</key>
                    <string>software</string>
                    <key>title</key>
                    <string>âù¿É¶à</string>
                </dict>
            </dict>
        </array>
    </dict>
</plist>
